@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none; 
}
}

.panel-closed {
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  
}

.panel-opened {
  height: auto;
  overflow:auto;
  visibility: visible;  
  margin-bottom: 0.25rem;
}

.answer {
  width: 100%;
  background-color: rgb(71 85 105);
  border-radius: 0.125rem;
  padding-left: 0.5rem;
  margin-top: 0.25rem;
  transition: all 0.2s ease-in-out;
}